<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if @user.profile_text.present? %>
      <p><%= @user.profile_text %></p>
    <% end %>
    <% if current_user?(@user) %>
      <%= link_to '設定', edit_user_path(@user),
          class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
